---
import type { CollectionEntry } from "astro:content";
import { formatDate } from "../scripts/date_formatting";
import BaseLayout from "./BaseLayout.astro";
import { loadImage } from "../scripts/asset_load";
import { getImage } from "astro:assets";
import { generatePreviewImage } from "../scripts/generate_og_images";

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
const frontmatter = post.data;
const blameUrl = `https://github.com/JacquesLucke/jlucke.com/blame/main/${post.filePath}`;

const previewImagePath = frontmatter.preview
  ? (await loadImage(frontmatter.preview)).src
  : await generatePreviewImage(post);
---

<BaseLayout title={frontmatter.title} description={frontmatter.description}>
  <meta property="og:title" content={frontmatter.title} slot="extra_meta" />
  <meta
    property="og:description"
    content={frontmatter.description}
    slot="extra_meta"
  />
  <meta property="og:image" content={previewImagePath} slot="extra_meta" />

  <div class="mx-auto max-w-[700px] px-2">
    <h1 class="mt-6 mb-1 text-3xl font-bold">
      {frontmatter.title}
    </h1>
    <p class="text-muted">
      {
        frontmatter.tags.map((tag) => (
          <a class="mr-2 inline-block underline" href={`/tags/${tag}`}>
            {tag}
          </a>
        ))
      }
    </p>
    <p class="text-muted">
      Published on {formatDate(frontmatter.pubDate)}
      <span class="text-sm">
        <a href={blameUrl}>(edits)</a>
      </span>
    </p>
    <p class="text-muted mb-4">{frontmatter.author}</p>
    <div class="blog-prose-style">
      <slot />
    </div>
    <div class="text-muted my-4">
      Have feedback on this post? <a href="/about" class="underline"
        >Get in touch!</a
      >
    </div>
  </div>
</BaseLayout>

<style is:inline>
  .blog-prose-style {
    font-family: var(--font-serif);
    font-size: 1.15rem;
    line-height: 2rem;
  }

  .blog-prose-style p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .blog-prose-style ul {
    list-style-type: disc;
    margin-left: 1.25rem;
  }

  .blog-prose-style h2 {
    margin-top: 1rem;
    font-family: var(--font-sans);
    font-size: 1.75rem;
    font-weight: 700;
  }

  .blog-prose-style h3 {
    margin-top: 1rem;
    font-family: var(--font-sans);
    font-size: 1.25rem;
    font-weight: 700;
  }

  .blog-prose-style :is(li, p) a {
    text-decoration: underline;
    text-decoration-color: var(--color-muted);
  }
</style>
